node_modules
node_modules/
**/*/node_modules
**/*/node_modules/
.DS_Store
*/**/.DS_Store
.env
*.debug
**/*.debug
_pack
*backup
*.log
**/*.log
**/coverage
**/.vscode/settings.json
report*
*.vscode
.idea
environmentvariables.config
.idea/*
**/.idea/*
.vscode
.vscode/
**/*/.vscode/
