.circleci/*
**/*/*.css
**/**/*.css
*.yaml
**/*/*.yaml
**/**/*.yaml
*.html
**/*/*.html
**/**/*.html
**/*/package.json
**/*/tsconfig.json
.yml
*.yml
**/*/*.yml
**/**/*.yml
**/*/*.m
package.json
config/*
**/*.json
**/*.hbs
**/*/*.hbs
